body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size:1em;
  margin:0;
  color: #333;
  background-color: #f5f5f5;
}

h1 {
  font-size: 40px;
  margin:10px 20px 30px 20px;
  padding:0;
}

html, body {height: 100%;}

.clearfix {
  clear: both;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 3em;
}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -3em; /* negative value of footer height */
  padding: 1em 0 1em 0;
  height: 1em;
  font-size:12px;
  clear:both;
  text-align:center;
  z-index:100;
  background-color: #fff;
}

a {
  color:#333;
  text-decoration:none;
  color: #2BB2DC;
}

.menu-btn {
  font-weight: 300;
  margin-right: 10px;
}

a:hover, #footer a:active {
  text-decoration:underline;
}

span.load {
  font-weight:normal;
}

img.loader {
  display:inline-block;
  height:64px;
  width:64px;
  background-image:url('/img/loader.gif');
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  border:none;
  vertical-align:middle;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  img.loader {
    background-image:url('/img/loader_128.gif');
  }
}

img.loader.done {
  background:transparent;
}

#menu {
  margin: -20px 20px 30px 20px;
  font-size:20px;
}

#menu .current.page {
  background-color: #2BB2DC;
  color: #fff;
  font-weight: 300;
  padding: 10px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
}
