body {
  font-family: Helvetica, Arial, sans-serif;
  font-size:1em;
  margin:0;
}

h1 {
  margin-left:20px;
}

html, body {height: 100%;}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 2em;
}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -2em; /* negative value of footer height */
  height: 2em;
  font-size:12px;
  clear:both;
  text-align:center;
}

#footer a {
  color:black;
  text-decoration:none;
  font-weight:bold;
}

#footer a:hover, #footer a:active {
  text-decoration:underline;
}
