body {
  color: #333;
}

#list {
  display:inline-block;
  width: 50%;
}

#list ul {
  width:100%;
  list-style: none;
  margin:0;
  padding:0;
}

#list ul li {
  border-top: 1px #e2e2e2 solid;
}

#list ul li a {
  display:block;
  padding: 0.8em 20px;
  color: #555;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  font-weight:normal;
}

#list ul li a:hover {
  color: #2BB2DC;
  background-color: #eee;
}

#list ul li a.current {
  color: #333;
  background-color: #eee;
}

#detail {
  position:fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color:transparent;
  color: #fff;
  transition: all 0.25s ease-in-out;
  overflow: scroll;
}

#detail.populated {
  background-color:#eee;
  color: #000;
}

#detail_container {
  margin:10px 20px 40px 20px;
}

#detail h1 {
  margin:0;
  padding:0 0 20px 0;
}

#detail h2 {
  font-weight:normal;
  margin: 0;
  font-size:24px;
  padding:0;
}

#detail_container ul.rounds {
  list-style:none;
  margin:0;
  padding:0;
}

#detail_container ul.rounds li {
  margin:0.8em 0;
}

#detail_container ul.rounds li img {
  height:50px;
  width:50px;
  margin-right: 10px;
  border-radius:4px;
  vertical-align:middle;
}

#detail a {
  font-weight: bold;
}

#detail a:hover {
  color: #2BB2DC;
}
}
