<p>{{#startup}}{{high_concept}}{{/startup}}</p>

<p>
Amount: {{amount_formatted}}
</p>

{{#has_participants}}
  <ul class="participants">
{{/has_participants}}
{{#participants}}
  <li class="participant">{{name}}</li>
{{/participants}}
{{#has_participants}}
  </ul>
{{/has_participants}}
<br /><br />
