<h1>{{display_name}}</h1>

Boston startups have raised
<h2>{{amount_formatted}}</h2>

<ul class="rounds">
{{#rounds}}
  <li>
  {{#startup}}
    <a href="{{angellist_url}}" target="_blank">
      <img src="{{thumb_url}}" />
      {{name}}
    </a>
  {{/startup}}
  &mdash;
  {{#round_type}}
    {{round_type}},
  {{/round_type}}
  {{amount_formatted}}
  on
  {{closed_at}}
  </li>
{{/rounds}}
</ul>
